@use "../layout" as l;
.Login {
  @include l.plain-canvas();

  &__overlay {
    @include l.overlay(45vw, 60vh, 612px, 380px);
  }

  &__form-side {
    @include l.form-side();
  }

  &__form-side h1 {
    margin: 32px 0;
    text-align: center;
    font-size: 28px;
  }

  &__last-fieldset {
    margin-bottom: 34px;
  }

  &__bottom-section {
    display: flex;
    flex-direction: column;
  }
  .footer-btn {
    @include l.footer-btn(grey);
    align-self: center;
  }

  @media (max-width: 700px) {
    &__overlay {
      padding: 24px 32px;
    }
    &__form-side {
      justify-content: space-between;
      h1 {
        margin-top: 0;
      }
    }
    .cancel-btn {
      top: -10px;
      right: 10px;
    }
  }
}
